/* Estilos generales */
body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    background-color: #F5F5F5; /* Blanco Arroz */
    color: #212121; /* Negro Carbón */
}

/* Barra de navegación */
.navbar {
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: #FEFBFC; /* Blanco */
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}


.navbar-logo img {
    width: 50px;
    height: auto;
    padding-left: 30px;
}

.navbar-title {
    font-family: 'Zen Dots', cursive;
    font-size: 1.8rem;
    color: #E63946; /* Rojo Sakura */
    margin-left: 20px;
}

.cart-header button{
    
        background-color: #4D1F0B; /* Color marrón oscuro */
        color: white; /* Texto en color blanco */
        font-weight: bold; /* Texto en negrita */
        text-transform: uppercase; /* Convertir texto a mayúsculas */
        font-size: 16px; /* Tamaño de fuente */
        padding: 12px 24px; /* Espaciado interno */
        border: none; /* Sin bordes */
        border-radius: 6px; /* Bordes redondeados */
        cursor: pointer; /* Cambia el cursor a una mano al pasar */
        transition: background 0.3s ease-in-out; /* Animación suave */
}

.cart-header button:hover{
    background-color: #3A1808; /* Un tono más oscuro al pasar el mouse */
}

#checkout-btn {
    background-color: #4D1F0B; /* Color marrón oscuro */
    color: white; /* Texto en color blanco */
    font-weight: bold; /* Texto en negrita */
    text-transform: uppercase; /* Convertir texto a mayúsculas */
    font-size: 16px; /* Tamaño de fuente */
    padding: 8px 15px; /* Espaciado interno */
    border: none; /* Sin bordes */
    border-radius: 6px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor a una mano al pasar */
    transition: background 0.3s ease-in-out; /* Animación suave */
}

.cart-item button{
    background-color: #4D1F0B; /* Color marrón oscuro */
    color: white; /* Texto en color blanco */
    font-weight: bold; /* Texto en negrita */
    text-transform: uppercase; /* Convertir texto a mayúsculas */
    font-size: 16px; /* Tamaño de fuente */
    padding: 8px 15px; /* Espaciado interno */
    border: none; /* Sin bordes */
    border-radius: 6px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor a una mano al pasar */
    transition: background 0.3s ease-in-out; /* Animación suave */
}

#checkout-btn:hover{
    background-color: #3A1808; /* Un tono más oscuro al pasar el mouse */
}

.navbar-links {
    display: flex;
    margin-left: auto;
    gap: 25px;
    margin-right: 20px;
}

.navbar-links a {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #E63946; /* Rojo Sakura */
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.navbar-links a:hover {
    color: #F0C808; /* Dorado Sésamo */
}

.navbar-icons {
    display: flex;
    gap: 20px;
    align-items: center;
    padding-right: 30px;
}

.navbar-icons i {
    font-size: 2rem;
    color: #E63946; /* Rojo Sakura */
    cursor: pointer;
    transition: color 0.3s ease;
}

.navbar-icons i:hover {
    color: #F0C808; /* Dorado Sésamo */
}

/* Imagen de cabecera */
.header-image {
    width: 100%;
    height: 46.5em;
    overflow: hidden;
}

.header-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Estilos para el texto "MENU" */
.menu-title {
    font-family: 'Zen Dots', cursive;
    font-size: 2.5rem;
    color: #E63946; /* Rojo Sakura */
    text-align: start; /* Alineación a la izquierda */
    margin: 30px auto -10px auto; /* Margen superior de 20px, inferior de 10px, y centrado horizontalmente */
    padding: 0px; /* Padding interno */
    max-width: 1200px; /* Mismo ancho máximo que el image-grid */
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

/* Sección de imágenes en bloques */
.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas */
    gap: 40px; /* Aumentamos el espacio entre elementos */
    padding: 40px; /* Aumentamos el padding para más espacio en los bordes */
    background-color: #F5F5F5; /* Blanco Arroz */
    max-width: 1200px; /* Ancho máximo para la cuadrícula */
    margin: 0 auto; /* Centrar la cuadrícula */
}

#btn-agregar{
    background-color: #E63946; /* Color marrón oscuro */
    color: white; /* Texto en color blanco */
    font-weight: bold; /* Texto en negrita */
    text-transform: uppercase; /* Convertir texto a mayúsculas */
    font-size: 16px; /* Tamaño de fuente */
    padding: 12px 24px; /* Espaciado interno */
    border: none; /* Sin bordes */
    border-radius: 6px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor a una mano al pasar */
    transition: background 0.3s ease-in-out; /* Animación suave */
}

#btn-agregar:hover{
    background-color: #8f1721; /* Un tono más oscuro al pasar el mouse */
}

.grid-item {
    background-color: #FFFFFF;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
    flex-direction: column;
    align-items: center;
    padding: 15px; 

    position: static;
    cursor: pointer;
}

.grid-item:hover {
    transform: translateY(-10px);
}

.grid-item img {
    width: 100%;
    height: 150px; /* Altura de las imágenes */
    object-fit: cover;
    border-radius: 10px 10px 0 0; /* Bordes redondeados solo arriba */
}

.grid-item .title {
    font-family: 'Zen Dots', cursive;
    font-size: 1.2rem; /* Tamaño del título */
    color: #E63946; /* Rojo Sakura */
    margin: 10px 0 5px;
}

.grid-item .subtitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 0.9rem; /* Tamaño del subtítulo */
    color: #212121; /* Negro Carbón */
    margin: 0 0 10px;
}

#cart-container {
    position: fixed;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    background: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%); /* Por defecto, fuera de la vista */
    z-index: 200; /* Asegura que esté por encima */
}

/* Estado abierto */
#cart-container.open {
    transform: translateX(0);

}

/* Fondo oscuro detrás del carrito */
#cart-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(34, 34, 34, 0.5); /* Oscuro y semitransparente */
    z-index: 100; /* Menor que el carrito para que quede debajo */
    display: none; /* Oculto por defecto */
}

/* Cuando el carrito está abierto, mostramos el fondo */
#cart-container.open + #cart-overlay {
    display: block;
}


.cart-hidden {
    transform: translateX(100%);
}
.cart-visible {
    transform: translateX(0);
}
.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilos para el carrito vacío */
.cart-empty {
    text-align: center;
    padding: 20px;
}

.empty-cart-image {
    width: 200px;
    height: auto;
    margin-bottom: 10px;
}

.empty-cart-text {
    font-size: 1.5rem;
    font-weight: bold;
    color: #212121; /* Negro Carbón */
}

.empty-cart-subtext {
    font-size: 1rem;
    color: #757575; /* Gris */
    margin-bottom: 20px;
}

.order-now-btn {
    background-color: #E63946; /* Rojo Sakura */
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.order-now-btn:hover {
    background-color: #C62828; /* Rojo más oscuro */
}

/* Estilos para los controles de cantidad */
.quantity-controls {
    display: flex;
    justify-content: center;
    background-color: #212121; /* Fondo gris claro */
    border-radius: 3px; /* Bordes redondeados */
    padding: 5px 10px; /* Espaciado interno */
}

.quantity-controls button {
    background-color: transparent; /* Fondo transparente */
    color: white; /* Color del texto */
    font-weight: bold;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    transition: color 0.3s ease-in-out;
}

.quantity-controls button:hover {
    color: #ffd500;
}

/* Estilos para los controles bolsa de compra */
.quantity-controls .quantity {
    color: white;
    font-size: 1.2rem;
    margin: 0 10px;
    width: 30px;
    text-align: center;
}

.add-to-cart-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}

.add-to-cart-container {
    display: none;
}

.grid-item.expanded .add-to-cart-container {
    display: flex; 
    flex-direction: row;
    margin-top: 10px;
}

.cart-quantity-controls {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cart-quantity-controls button {
    background-color: #ff9800;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.cart-quantity-controls button:hover {
    background-color: #e68900;
}

.cart-quantity {
    font-size: 16px;
    font-weight: bold;
}

/* Estilos para los botones del carrito */
.cart-quantity-controls button, .remove-item {
    background-color: #007bff; /* Azul */
    color: white; /* Texto en blanco */
    border: none;
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Roboto Medium', sans-serif; /* Fuente Noto Sans Regular */
}

.remove-item {
    background-color: #007bff; /* Azul */
    color: white; /* Texto en blanco */
    border: none;
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 5px;
    width: 50px;
    height: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Roboto Medium', sans-serif; /* Fuente Noto Sans Regular */
}

.cart-quantity-controls button:hover, .remove-item:hover {
    background-color: #0056b3; /* Azul oscuro al hacer hover */
}

/* Ajustes generales para el carrito */
.cart-item {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Divide en dos columnas */
    gap: 10px;
    font-family: 'Roboto Medium', sans-serif;
    font-size: 16px;
    margin-bottom: 15px;
    align-items: center;
}

/* Estilo para el nombre y precio del item */
.cart-item p:nth-child(1) {
    text-align: left;
    margin: 0;
}

.cart-item p:nth-child(2) {
    text-align: right;
    margin: 0;
}

/* Imagen debajo del item name */
.imagen-bloque img {
    width: 300px;
    height: 150px;
    display: block;
    margin-top: 5px;
}

/* Controles de cantidad alineados al centro */
.cart-quantity-controls {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

/* Estilos para el total debajo de la imagen */
.item-total {
    font-weight: bold;
}

.cart-item p:nth-child(5) {
    grid-column: 1 / 2; /* Ocupa la primera columna */
    margin: 10px 0 0;
}

/* Remove button en el lado derecho */
.remove-item {
    grid-column: 2 / 3; /* Ocupa la segunda columna */
    justify-self: end;
    margin: 10px 0 0;
}

/* Separador */
hr {
    grid-column: span 2;
    width: 100%;
    border: 0;
    border-top: 1px solid #ccc;
    margin-top: 15px;
}

/* Estilos para la sección de Ubicaciones */
.ubicaciones-section {
    max-width: 1200px;
    margin: 40px auto;
    margin-bottom: 0px;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 400px;
}

.ubicaciones-title {
    font-family: 'Zen Dots', cursive;
    font-size: 2.5rem;
    color: #E63946; /* Rojo Sakura */
    text-align: start; /* Alineación a la izquierda */
    margin: 30px auto -10px auto; /* Margen superior de 20px, inferior de 10px, y centrado horizontalmente */
    padding: 10px; /* Padding interno */
    max-width: 1200px; /* Mismo ancho máximo que el image-grid */
    box-sizing: border-box;
}

.ubicaciones-content {
    display: flex;
    align-items: flex-start; /* Alinea los elementos en la parte superior */
    gap: 20px;
}

.ubicaciones-image img {
    width: 700px;
    height: 500px;
    border-radius: 10px;
    object-fit: cover;
}

.ubicaciones-info {
    flex: 1;
    margin-top: 0; /* Asegura que no haya margen superior */
}

.ubicacion-item {
    margin-bottom: 15px;
}

.ubicacion-item h3 {
    font-family: 'Zen Dots', cursive;
    font-size: 1.2rem;
    color: #E63946; /* Rojo Sakura */
    margin-bottom: 5px;
}

.ubicacion-item p {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    color: #212121; /* Negro Carbón */
}

/* Estilos para el footer */
.footer {
    background-color: #000000; /* Fondo negro */
    color: #FFFFFF; /* Texto blanco */
    padding: 40px 20px;
    font-family: 'Noto Sans', sans-serif;
    margin-top: 40px;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    min-width: 250px;
    margin: 10px 0;
}

.footer-title {
    font-family: 'Zen Dots', cursive;
    font-size: 1.8rem;
    color: #E63946; /* Rojo Sakura */
    margin-bottom: 10px;
}

.footer-subtitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #FFFFFF; /* Texto blanco */
    margin-bottom: 15px;
}

.footer-text {
    font-family: 'Noto Sans', sans-serif;
    font-size: 0.9rem;
    color: #FFFFFF; /* Texto blanco */
    margin: 5px 0;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icon {
    color: #FFFFFF; /* Texto blanco */
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.social-icon:hover {
    color: #E63946; /* Rojo Sakura al hacer hover */
}